.form-control{
    display: block;
    margin-top: 15px;
    
}
input{
    width: 250px;
    height: 35px;
    background-color: rgba(208, 228, 245, 0.449);
    border: none;
    border-radius: 4px;
}
.btn{
    margin-top: 10px;
    background-color: rgba(0, 0, 255, 0.408);
}